{% extends 'base.html' %}
{% block title %}Flux{% endblock %}
{% load static %}
{% block content %}


 <div class="px-24 bg-gray-100">
    <div class="flex flex-col md:flex-row  h-100">
        <div class=" w-full md:w-1/2 flex items-center ">
            <div class="title-section ">
                <h1 class="text-4xl font-bold">Expose ton livre et demande des critiques ici</h1>
                <p class="text-gray-500">Votre feed pour demander voir les posts existants ainsi que les critiques </p>
            </div>
        </div>
        <div class=" w-full md:w-1/2">
            <img src="{% static 'images/Reading-book-pana.svg' %}" alt="" >
        </div>
    </div>
    <div class="flex justify-center space-x-4 gap-8 mb-6  ">
        <button class="px-6 py-3 w-64 rounded shadow text-white bg-blue-500 transition duration-300">
            Demander une critique
        </button>
        <a href="{%url 'create-ticket-review'%}"> <button class="px-6 py-3 w-64 rounded text-white bg-black">
            Créer une critique
        </button></a>
    </div>
    
    <div class="ticket-section flex flex-wrap justify-center gap-4 py-5 ">
        {% for post in posts %}
     
        <div class="bg-white shadow-md rounded-lg p-4 md:w-3/4 ">
            {% if post.reviews.all %}
            {% for review in post.reviews.all %}
            <div class="review_section">
                <div class="md:flex justify-between items-center mb-2">    
                    <div class="md:flex items-center">
                        <span class="text-1xl font-bold mr-2 uppercase">{{ review.user.username }} &nbsp;-</span>
                        <span class="text-yellow-500 mr-2 text-2xl">
                            {% for i in "12345" %}
                                {% if forloop.counter <= review.rating %}
                                    ★
                                {% else %}
                                    <span class="text-gray-300">★</span>
                                {% endif %}
                            {% endfor %}
                        </span>
                    </div>
                    
    
                    <span class="text-gray-500 text-sm">{{ review.time_created|date:"l j F Y H:i" }}</span>
                </div>
                <div class="review_body">
                    <div class="part1">
                        <h2 class="text-xl font-bold text-gray-800">{{review.headline}}</h2>
                        <p class="text-gray-600 mb-4">{{review.body}}</p>        
                    </div>
                    {% if review.user == user%}
                    <div class="part2 my-2">
                        <a  class="update"><button class="text-blue-600 underline underline-offset-2 font-medium rounded mr-3 text-underline">Modifier critique</button></a>
                        <a  class="update"><button class="text-gray-600  font-medium underline underline-offset-2 rounded">Supprimer critique</button></a>
                    </div>
                    {%endif%}
                    
                </div>
            </div>
            {%endfor%}
            {% else %}
            <a href="{% url 'create-review-response' post.id %}" class="update"><button class="bg-blue-400 text-white font-bold my-3 py-2 px-4 rounded">Créer une critique</button></a>
    
            {%endif%}
            <div class="md:flex items-center border rounded-lg p-4 bg-gray-50 space-x-4 w-100">
                <img 
                    src="{{post.photo.image.url}}" 
                    alt="Book Cover" 
                    class="w-60 h-auto rounded-lg shadow-md"
                >
                <div>
                    <div class="mb-2 ">
                        <span class="font-medium mr-2">Autheur du ticket:</span>
                        <span class="text-gray-600">{{post.author}}</span>
                    </div>
                    <div class="mb-2">
                        <span class="font-medium mr-2">Titre du ticket:</span>
                        <span class="text-gray-600">{{post.title}}</span>
                    </div>
                    <div class="mb-2">
                        <span class="font-medium mr-2">Commentaire:</span>
                        <span class="text-gray-600">{{post.content}}</span>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

{% endblock content %}