{% extends 'base.html' %}
{% block title %}Flux{% endblock %}
{% load static %}
{% block content %}


 <div class="px-24 bg-gray-100">
    <div class="flex flex-col md:flex-row  h-100">
        <div class=" w-full md:w-1/2 flex items-center ">
            <div class="title-section ">
                <h1 class="text-4xl font-bold">Expose ton livre et demande des critiques ici</h1>
                <p class="text-gray-500">Votre feed pour demander voir les posts existants ainsi que les critiques </p>
            </div>
        </div>
        <div class=" w-full md:w-1/2">
            <img src="{% static 'images/Reading-book-pana.svg' %}" alt="" >
        </div>
    </div>
    <div class="flex justify-center space-x-4 gap-8 mb-6 ">
        <button class="px-6 py-3 w-64 rounded shadow text-white bg-blue-500 transition duration-300">
            Demander une critique
        </button>
        
        <button class="px-6 py-3 w-64 rounded text-white bg-black">
            Créer une critique
        </button>
    </div>
    
    <div class="ticket-section flex flex-wrap justify-center gap-4 py-5 ">
        <div class="bg-white shadow-md rounded-lg p-4 md:w-3/4 ">
            <div class="md:flex justify-between items-center mb-4">    
                <div class="md:flex items-center">
                    <span class="text-yellow-500 mr-2">★★★★★</span>
                    <h2 class="text-xl font-bold text-gray-800">véritablement révolutionnaire</h2>
                </div>
                <span class="text-gray-500 text-sm">13.14, 26 août 2020</span>
            </div>
    
            <p class="text-gray-600 mb-4">Une excellente lecture et je vous recommande vivement !</p>
    
            <div class="md:flex items-center border rounded-lg p-4 bg-gray-50 space-x-4 w-100">
                <img 
                    src="https://www.vmtlib.michlibrary.org/library-books.jpg/@@images/image.jpeg" 
                    alt="Book Cover" 
                    class="w-60 h-auto rounded-lg shadow-md"
                >
                <div>
                    <div class="mb-2">
                        <span class="font-medium mr-2">Ticket:</span>
                        <span class="text-gray-600">jean8597</span>
                    </div>
                    <div>
                        <span class="font-medium mr-2">Livre:</span>
                        <span class="text-gray-600">The Origin of Species - Charles Darwin</span>
                    </div>
                </div>
            </div>
        </div>
        {% for post in posts %}
        
        {% if post.reviews.all %}
        <ul>
            {% for review in post.reviews.all %}
            <li>
        <div class="md:flex justify-between items-center mb-4">    
            
            <div class="md:flex items-center">
                <h2 class="text-xl font-bold text-gray-800">  <strong>{{ review.user.username }}</strong> - Note : {{ review.rating }}</h2>
                <span class="text-yellow-500 mr-2">★★★★★</span>
            </div>
            <span class="text-gray-500 text-sm">{{ review.time_created|date:"l j F Y H:i" }}</span>
            {% if review.user == user%}
            display button 
            <a href="{% url 'update-review-response' post.id review.id %}" class="update"><button class="bg-blue-400 text-white font-bold py-2 px-4 rounded">Modifier critique</button></a>
            <a href="{% url 'ticket_delete' review.id %}" class="update"><button class="bg-blue-400 text-white font-bold py-2 px-4 rounded">Supprimer critique</button></a>

            {%endif%}
            </span>
        </div>

        <p class="text-gray-600 mb-4">{{review.headline}}</p>
    </li>
        {% endfor %}
    </ul>
        {% else %}
        <a href="{% url 'create-review-response' post.id %}" class="update"><button class="bg-blue-400 text-white font-bold py-2 px-4 rounded">Créer une critique</button></a>

        {%endif%}
        <div class="md:flex items-center border rounded-lg p-4 bg-gray-50 space-x-4 w-100">
            <img 
                src="https://www.vmtlib.michlibrary.org/library-books.jpg/@@images/image.jpeg" 
                alt="Book Cover" 
                class="w-60 h-auto rounded-lg shadow-md"
            >
            <div>
                <div class="mb-2">
                    <span class="font-medium mr-2">Autheur:</span>
                    <span class="text-gray-600">{{post.author}}</span>
                </div>
                <div>
                    <span class="font-medium mr-2">Titre ticket:</span>
                    <span class="text-gray-600">{{post.title}}</span>
                </div>
                <div>
                    <span class="font-medium mr-2">Commentaire:</span>
                    <span class="text-gray-600">{{post.content}}</span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

 </div>


{% endblock content %}