{% extends 'base.html' %}
{% block title %}Posts{% endblock %}
{% load static %}
{% block content %}

 <div class="px-24 bg-gray-100">
    <p class="text-3xl py-12 flex justify-center">Retrouvez vos posts ici</p>

   
    <div class="ticket-section flex flex-wrap justify-center gap-4 py-5 ">
        {% if message != None %}
				<p class="message">{{ message }}</p>
		{% else %}
        {% for ticket in tickets %}
				{% if ticket.author == request.user %}
        <div class="bg-white shadow-md rounded-lg p-4 md:w-3/4 ">
            <div class="flex justify-between">
                <p class="author">Vous avez publié un ticket</p>
                <span class="text-gray-500 text-sm">{{ ticket.date_created }}</span>

            </div>
            <div class="md:flex justify-between items-center mb-4">    
                <div class="md:flex items-center">
                    <h2 class="text-xl font-bold text-gray-800">véritablement révolutionnaire - </h2>
                    <span class="text-yellow-500 mr-2">★★★★★</span>
                </div>
            </div>
    
            <p class="text-gray-600 mb-4 review_comment">Une excellente lecture et je vous recommande vivement !</p>
    
            <div class="md:flex items-center border rounded-lg p-4 bg-gray-50 space-x-4 w-100">
                <img 
                    src="{{ ticket.photo.image.url }}" 
                    alt="Ticket image" 
                    class="w-48 h-auto rounded-lg shadow-md"
                >
                <div class="">
                    <div class="mb-2">
                        <span class="font-medium mr-2">Autheur du ticket:</span>
                        <span class="text-gray-600">{{ ticket.author }}</span>
                    </div>
                    <div>
                        <span class="font-medium mr-2">Livre:</span>
                        <span class="text-gray-600">{{ ticket.title }}</span>
                    </div>
                    <div>
                        <span class="font-medium mr-2">Commentaire d'autheur</span>
                        <span class="text-gray-600">{{ ticket.content }}</span>
                    </div>
                </div>
            </div>
          <div class="buttons flex justify-end gap-4 py-2">
            <a href="{% url 'ticket_update' ticket.id %}" class="update "><button class="bg-blue-400 text-white font-bold py-2 px-4 rounded">Modifier</button></a>
            <form method="POST" action="{% url 'ticket_delete' ticket.id %}">
                {% csrf_token %}
                <button class="delete bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded"  type="submit">Supprimer</button>
            </form>
          </div>
               
            </div>
        </div>
        {% endif %}
        {% endfor %}
    {% endif %}
    </div>
{% endblock content %}
